/* ==========================================================================
   Capital Framework
   Expandable Styling
   ========================================================================== */


/* topdoc
    name: Default expandable
    family: cf-expandables
    patterns:
    - name: Default state
      markup: |
        <div class="expandable">
            <header class="expandable_header">
                Expandable Header
                <span class="expandable_button expandable_button-open">
                    Show
                    <i class="icon-plus-sign"></i>
                </span>
                <span class="expandable_button expandable_button-close">
                    Hide
                    <i class="icon-minus-sign"></i>
                </span>
            </header>
            <div class="expandable_content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    tags:
    - cf-expandables
*/

.expandable {
    margin-bottom: unit(@base-line-height, em);
    background: @gray-10;

}

.expandable:hover,
.expandable__open {
    background: @gray-20;
}

.expandable_header {
    padding: 0.625em 0.75em;
    .webfont-medium;
    cursor: pointer;
}

.expandable_button {
    margin: 0;
    border-width: 0;
    float: right;
    color: @pacific;
    .webfont-regular;
    font-size: unit(@btn-font-size / @base-font-size-px, em);
    line-height: unit(@base-line-height-px / @btn-font-size);
}

.expandable_button-close {
    display: none;
}

.expandable__expanded {
    .expandable_button-open {
        display: none;
    }
    .expandable_button-close {
        display: inline;
    }
}

.expandable_content {
    padding: 0 0.75em 0.25em;
}

/* topdoc
  name: EOF
  eof: true
*/
