/* ==========================================================================
   Capital Framework
   Expandable Styling
   ========================================================================== */


/* topdoc
    name: Barebones expandable
    family: cf-expandables
    patterns:
    - name: Default barebones expandable pattern
      markup: |
        <div class="expandable">
            <button class="expandable_target">
                <span class="expandable_cue-open">
                    Show
                </span>
                <span class="expandable_cue-close">
                    Hide
                </span>
            </button>
            <div class="expandable_content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Neque ipsa voluptatibus soluta nobis unde quisquam
                    temporibus magnam debitis quidem. Ducimus ratione
                    corporis nesciunt earum vel est quaerat blanditiis
                    dolore ipsa?
                </p>
            </div>
        </div>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .expandable
            .expandable_target
              .expandable_cue-open
              .expandable_cue-close
            .expandable_content
      notes:
        - "This is a barebones expandable pattern which our official recommended
           expandable is based off of. Please only use this is if you need a
           custom expandable experience."
        - "Use the button tag for the .expandable_target element to allow for
           keyboard access."
        - "The aria-pressed attribute on .expandable_target gets automatically
           added and updated by JavaScript."
    - name: Expandable that is open by default
      markup: |
        <div class="expandable expandable__expanded">
            <button class="expandable_target">
                <span class="expandable_cue-open">
                    Show
                </span>
                <span class="expandable_cue-close">
                    Hide
                </span>
            </button>
            <div class="expandable_content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Neque ipsa voluptatibus soluta nobis unde quisquam
                    temporibus magnam debitis quidem. Ducimus ratione
                    corporis nesciunt earum vel est quaerat blanditiis
                    dolore ipsa?
                </p>
            </div>
        </div>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .expandable.expandable__expanded
            .expandable_target
              .expandable_cue-open
              .expandable_cue-close
            .expandable_content
      notes:
        - "Simply add the .expandable__expanded modifier to .expanded."
    tags:
    - cf-expandables
*/

.expandable {
    margin-bottom: unit(30px / @base-font-size-px, em);
}

.expandable_target {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.expandable_cue-close {
    display: none;
}

.expandable__expanded {
    .expandable_cue-open {
        display: none;
    }
    .expandable_cue-close {
        display: inline;
    }
}

.expandable_content {
    // A clearfix prevents twitchy animations from occurring when margins
    // collapse and extend past the bounds of the expandable.
    .u-clearfix();
}


/* topdoc
    name: Expandable header
    family: cf-expandables
    patterns:
    - name: Basic expandable header example
      markup: |
        <div class="expandable expandable__expanded">
            <div class="expandable_header">
                <span class="expandable_header-left">
                    <em>Now you can put some info on the left and right.</em>
                </span>
                <span class="expandable_header-right">
                    <button class="expandable_target">
                        <span class="expandable_cue-open">
                            Show
                        </span>
                        <span class="expandable_cue-close">
                            Hide
                        </span>
                    </button>
                </span>
            </div>
            <div class="expandable_content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Neque ipsa voluptatibus soluta nobis unde quisquam
                    temporibus magnam debitis quidem. Ducimus ratione
                    corporis nesciunt earum vel est quaerat blanditiis
                    dolore ipsa?
                </p>
            </div>
        </div>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .expandable_header
            .expandable_header-left
            .expandable_header-right
      notes:
        - ".expandable_header is good when you need an .expandable_target with
           information on the left and right."
    - name: "Expandable header modifier: spaced"
      markup: |
        <div class="expandable expandable__expanded">
            <div class="expandable_header expandable_header__spaced">
                <button class="expandable_target">
                    <span class="expandable_cue-open">
                        Show
                    </span>
                    <span class="expandable_cue-close">
                        Hide
                    </span>
                </button>
            </div>
            <div class="expandable_content" style="background-color:#ccc;">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Neque ipsa voluptatibus soluta nobis unde quisquam
                    temporibus magnam debitis quidem. Ducimus ratione
                    corporis nesciunt earum vel est quaerat blanditiis
                    dolore ipsa?
                </p>
            </div>
        </div>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .expandable_header.expandable_header__spaced
      notes:
        - "Adds some padding underneath .expandable_header."
    tags:
    - cf-expandables
*/

.expandable_header {
    display: block;
    .u-clearfix();

    // Using the button element with .expandable_header requires setting an
    // explicit width.
    button& {
        width: 100%;
    }
}

.expandable_header__spaced {
    padding-bottom: unit(15px / @base-font-size-px, em);
}

.expandable_header-left {
    float: left;
}

.expandable_header-right {
    float: right;
}


/* topdoc
    name: Expandable text elements
    family: cf-expandables
    patterns:
    - name: Expandable label
      markup: |
        <span class="expandable_label">
            Expandable label
        </span>
    - name: Expandable link
      markup: |
        <span class="expandable_link">
            Expandable link
            <span class="expandable_cue-open">
                <span class="cf-icon cf-icon-plus-round"></span>
            </span>
            <span class="expandable_cue-close">
                <span class="cf-icon cf-icon-minus-round"></span>
            </span>
        </span>
    tags:
    - cf-expandables
*/

.expandable_label {
    color: @black;
    .webfont-medium();
}

.expandable_link {
    color: @pacific;
    .webfont-regular();
    font-size: unit(@btn-font-size / @base-font-size-px, em);
    line-height: unit(@base-line-height-px / @btn-font-size);
}


/* topdoc
    name: Padded expandable
    family: cf-expandables
    patterns:
    - name: Default padded expandable pattern
      markup: |
        <div class="expandable expandable__padded">
            <button class="expandable_target expandable_header">
                <span class="expandable_label expandable_header-left">
                    Expandable Header
                </span>
                <span class="expandable_link expandable_header-right">
                    <span class="expandable_cue-open">
                        Show
                        <span class="cf-icon cf-icon-plus-round"></span>
                    </span>
                    <span class="expandable_cue-close">
                        Hide
                        <span class="cf-icon cf-icon-minus-round"></span>
                    </span>
                </span>
            </button>
            <div class="expandable_content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Neque ipsa voluptatibus soluta nobis unde quisquam
                    temporibus magnam debitis quidem. Ducimus ratione
                    corporis nesciunt earum vel est quaerat blanditiis
                    dolore ipsa?
                </p>
            </div>
        </div>
      codenotes:
        - |
          Structural cheat sheet:
          -----------------------
          .expandable.expandable__padded
            .expandable_target.expandable_header
              .expandable_label.expandable_header-left
              .expandable_link.expandable_header-right
                .expandable_cue-open
                  .cf-icon.cf-icon-plus-round
                .expandable_cue-close
                  .cf-icon.cf-icon-minus-round
              .expandable_cue-open
              .expandable_cue-close
            .expandable_content
      notes:
        - "The padded expandable is our recommended go-to expandable pattern."
        - "If you need a custom expandable experience try using a combination of
           the expandable elements that already exists like .expandable_header,
           expandable_label, expandable_link, expandable_header-left. and
           expandable_header-right."
    tags:
    - cf-expandables
*/

.expandable__padded {
    margin-bottom: unit(30px / @base-font-size-px, em);
    background: @gray-10;

    &:hover,
    &.expandable__expanded {
        background: @gray-20;
    }

    .expandable_header {
        padding: unit(10px / @base-font-size-px, em)
                 unit(16px / @base-font-size-px, em);
    }

    .expandable_content {
        // Margin collapsing trick for more consistent bottom padding.
        margin: 0
                unit(16px / @base-font-size-px, em)
                unit(22px / @base-font-size-px, em);
    }
}


/* topdoc
  name: EOF
  eof: true
*/
